@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body {
    margin: 0;
    font-family: Arial;
    background: #eaeaea
}

header {
    background: #131921;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo {
    color: #ff9900;
    font-weight: bold;
    font-size: 22px
}

nav button {
    margin: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

.search {
    padding: 8px;
    width: 200px
}

.container {
    display: flex
}

.sidebar {
    width: 220px;
    background: #fff;
    padding: 10px;
    height: 100vh;
    overflow: auto
}

.sidebar.hidden {
    display: none
}

.cat {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer
}

.cat:hover {
    background: #f5f5f5
}

.main {
    flex: 1;
    padding: 20px
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px
}

.card {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px
}

button {
    background: #ffd814;
    border: none;
    padding: 6px 10px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer
}

.hidden {
    display: none
}